<div class="container-fluid col-sm-10 col-md-7 quiz">
  <%= form_for @quiz do |f| %>

  <div class="field">
    <h4>Which issue are you interested in working on?</h4>
    <%= f.select :issues, ["--Issues--", "Gun control", "Environmental Justice", "Freedom of speech", "Peace and Anti-war", "Reducing corporate money in politics", "Disability Justice", "Reproductive Rights and women's access to healthcare", "Climate Change", "Education", "Healthcare", "Housing and Gentrification", "Criminal Justice/Policing", "Prisons", "Food", "Transportation and Urban Planning", "Voting Rights, Civic Engagement, and Elections", "Economic Justice", "Artist Liberation", "Justice for LGBTQ+ People", "Immigration and Refguee Rights", "International Human Rights", "Racial Justice and Fighting White Supremacy", "Youth Power", "Targetting of Religious Groups", "The Democratic Party", "Domestic Violence", "Workers Rights", "Women's Rights", "Middle East Peace Work"], {}, class: "custom-select" %>
  </div>

  <!-- TODO Make Location such as City and State an option for the Quiz -->

  <hr>
  <h4 align="left">Some groups are organized based on different identities (like gender or religion). If you are interested in working with people who share a particular identity with you, select the information below. Otherwise leave this blank and you'll be matched based on other information.</h4>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <br>
        <%= f.select :race, ["-- Racial Identity --", "Black or African Heritage", "East Asian", "Pacific Islander", "South Asian", "Person of Color", "White", "Native American/Indigenous", "Latinx", "Arab"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :ability, ["-- Ability --", "Physical Disability", "Mental Health Disabliity"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :age, ["-- Age Group --", "Youth (under 18)", "Young Adult (18-35)", "Adult (over 18)", "Elder (over 65)"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :religion, ["-- Religious Background --", "Muslim", "Jewish", "Sikh", "Buddhist", "Hindu", "Christian", "Unitarian Universalist", "Atheist", "Quaker", "Other"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :class_background, ["-- Class Background --", "Person With Wealth", "Working Class", "Middle Class", "Poor or Low Income"], {}, class: "custom-select" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <br>
        <%= f.select :gender, ["-- Gender Identity/Sexuality --", "LGBT Queer", "Two Spirit", "LGBTQ+", "Transgender", "Gender Nonconfing", "Transgender", "Nonbinary", "Intersex", "Woman", "Man"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :occupation, ["-- Occupation --", "Educator", "Lawyer or Law Student", "Tipped Worker", "Restaurant Worker", "Farm Worker", "Domestic Worker", "Domestic Employer", "Retail Worker", "Gig Economy Worker", "Street Vendor", "Veteran or Family of Veteran", "Teamster", "Parent", "Student", "Clergy", "Sex Worker", "Artist", "Healthcare Worker"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :immigration_status, ["-- Immigration Status --", "Refugee", "Immigrant"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :incarceration_status, ["-- Incarceration Status --", "Formerly or Currently Incarcerated/Family of Incarcerated People"], {}, class: "custom-select" %>
      </div>

      <div class="field">
        <br>
        <%= f.select :housing_status, ["-- Housing Status --", "Tenant", "Homeless"], {}, class: "custom-select" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="input-group row">
    <div class="field col-lg-7">
      <h4>What's the strongest skill that you can offer?</h4>
      <%= f.select :skills, ["--Skills--", "Organizing", "Direct action", "Social work", "Education", "Visual art", "Multilingual", "Computer", "Public speaking", "Accouting", "Legal work", "Medical", "Research", "Writing & editing", "Press & media", "Experience with the naturalization process for immigration", "Outreach", "Admin support", "Graphic design", "Spanish language", "Grant writing", "Social media", "Canvassing", "Coding", "Cantonese language", "Nepali language"], {}, class: "custom-select" %>
    </div>
    <div class="field col-lg-5">
      <h4>I'm willing to commit a few hours...</h4>
      <%= f.select :commitment, ["per day", "per week", "per month", "per year", "doesn't matter"], {}, class: "custom-select form-control", aria_label: "With textarea" %>
    </div>
  </div>
  <br>
  <div class="actions"><%= f.submit "Match Me!", class: "btn btn-warning btn-lg btn-block" %></div>
  <% end %>
  <br>
  <%= link_to 'Back', root_path, class:"btn btn-outline-danger text-dark btn-lg btn-block" %>
</div>
