<div class="container-fluid col-sm-10 col-md-7" align="center">
  <h1>Arizona Movement Match</h1>
    <%= button_to "Take The Quiz Now!", new_quiz_path, type:"button", class:"btn btn-warning text-white btn-lg btn-block btn-change", :method => :get %>
    <br>
    <%= button_to "All Organizations", organizations_path, type:"button", class:"btn btn-outline-warning text-dark btn-lg btn-block", :method => :get %>
    <br>
    <% if user_org_signed_in? %>
      <%= button_to "Logout", destroy_user_org_session_path, class:"btn btn-outline-warning text-dark btn-lg btn-block", method: :delete %>
    <% else %>
      <%= button_to "Login", new_user_org_session_path, type:"button", class:"btn btn-outline-warning text-dark btn-lg btn-block" %>
    <% end %>
    <%= render "layouts/footer" %>
</div>
