<body>
  <div class="conainer-fluid squares">
    <div class="images">
      <div class="item">
        <%= image_tag "IMG_6565.JPG", class:"top1" %>
        <%= image_tag "IMG_6606.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6409.jpg", class:"top2" %>
        <%= image_tag "IMG_6593.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6429.jpg", class:"top3" %>
        <%= image_tag "IMG_6602.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6437.jpg", class:"top4" %>
        <%= image_tag "IMG_6479.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6485.jpg", class:"top5" %>
        <%= image_tag "IMG_6590.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6622.jpg", class:"top4" %>
        <%= image_tag "IMG_6586.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6602.jpg", class:"top5" %>
        <%= image_tag "IMG_6603.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6515.jpg", class:"top1" %>
        <%= image_tag "IMG_6519.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6609.jpg", class:"top2" %>
        <%= image_tag "IMG_6608.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6603.jpg", class:"top3" %>
        <%= image_tag "IMG_6528.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6544.jpg", class:"top3" %>
        <%= image_tag "IMG_6607.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6604.jpg", class:"top2" %>
        <%= image_tag "IMG_6555.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6558.jpg", class:"top1" %>
        <%= image_tag "IMG_6561.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6569.jpg", class:"top5" %>
        <%= image_tag "IMG_6529.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6605.jpg", class:"top4" %>
        <%= image_tag "IMG_6532.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6535.jpg", class:"top2" %>
        <%= image_tag "IMG_6539.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6604.jpg", class:"top4" %>
        <%= image_tag "IMG_6620.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6614.jpg", class:"top1" %>
        <%= image_tag "IMG_6573.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "IMG_6577.jpg", class:"top3" %>
        <%= image_tag "IMG_6578.jpg", class:"bottom" %>
      </div>
      <div class="item">
        <%= image_tag "ppetmpdup.jpg", class:"top5" %>
        <%= image_tag "IMG_6590.jpg", class:"bottom" %>
      </div>

    </div>
  </div>
    <div class="survey">
      <h1>Arizona Movement Match</h1>
        <ul>
          <li id="Organizations">
            <%= button_to "All Organizations", organizations_path, class:"Organizations", type:"button", class:"btn btn-outline-light text-dark", :method => :get %></li>
            <% if user_org_signed_in? %>
              <%= link_to "Logout", destroy_user_org_session_path,method: :delete %>
            <% else %>
          <li id="Login">
            <%= button_to "Login", new_user_org_session_path, class:"login", type:"button", class:"btn btn-outline-light text-dark" %>
            <% end %>
          </li>
        </ul>
      <div class="tech-slideshow">
        <div class="mover-1"></div>
        <div class="mover-2"></div>
      </div>
    </div>
  </div>
</body>
