<div class="container sign_up_form">
  <div class="container-fluid">
    <div class="tech-slideshow">
    <div class="mover-1"></div>
    <div class="mover-2"></div>
  </div>
  <div class="sign_up col-sm-10 col-md-7">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div align="center">
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail Address", class: "form-control" %>
      </div>
      <br>
      <div class="field">
        <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
      </div>
      <br>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control" %>
      </div>
    </div>

    <br>
    <div class="actions">
      <div class="container modalLink">
        <!-- Trigger the modal with a button -->
        <p class="modal-link btn btn-warning text-white btn-lg" data-toggle="modal", data-target="#myModal">Sign Up</p>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog terms-modal-dialog modal-dialog-centered">

              <!-- Modal content-->
              <div class="modal-content terms-modal">
                <div class="modal-header">
                  <h4 class="col-12 modal-title">Terms of Use for Movement Match</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                  <!-- This modal needs to have the terms of agreement in in -->
                  <p>Last Updated: July, 2019</p>
                  <p>These Terms of Use ("TOU") are entered into by and between Movement Match, a national group without a specific address ("MM") and the organization entity agreeing to these terms ("you" or "org"). Movement Match owns www.movementmatch.org.
                  This TOU is effective and you agree to accept the terms hereunder as of the earlier date on which you claim your Movement Match profile and click to accept this TOU for this purpose (the “Effective Date”). If you are accepting this TOU on behalf of your employer or another entity, you represent and warrant that
                  (i) you have full legal authority to bind your employer or the applicable entity to this TOU; (ii) you have read and understood this TOU; and (iii) you agree, on behalf of the party that you represent, to this TOU. This TOU governs org's access to and participation in the Movement Match Profile Update Program. Org’s participation in such program may require org to contract directly with third party service providers in order to receive certain functionality and related services (“Third Party Services”) as further described in Section 7 of this TOU</p>
                  <ol>
                    <strong><li>The Movement Match Update Program.</li></strong>
                    <p>The Movement Match Profile Update Program is a program offered by Movement Match to orgs to encourage information sharing with sites related to Movement Match (collectively the “Sites”) for the purpose of enhancing org information transparency and thereby advancing the objective of facilitating connections between individuals and progressive organizations with membership models. Orgs are invited to participate in the Movement Match Profile Update Program, which participation requires orgs to share certain categories of organization information. Movement Match may review the org Information for completeness, accuracy, and legibility in accordance with the Movement Match Profile Update Program standards, which MM may change in its sole discretion from time to time. Upon receipt of the org Information MM may award such org the right to become a Movement Match Profile Update Program participant. In the event MM becomes aware or otherwise determines in its sole discretion that the org Information does not meet Movement Match’s Profile Update Program standards, MM may take any action as set forth in Section 3 of this TOU.
                    MM may change the terms of this TOU and the Movement Match Profile Update Program and/or may terminate or discontinue the Movement Math Profile Update Program and this TOU at any time and at MM’s sole discretion.</p>
                    <strong><li>Org Responsibilities</li></strong>
                    <p>Org represents that it owns or otherwise has the rights to all Org Information and data that it provides to MM pursuant to the Movement Match Profile Update Program; that such information is accurate and complete; that such information is not slanderous, defamatory, violative of any third party’s proprietary rights (including any right to privacy or publicity); and that such information or the provision thereof to MM does not incite violent or illegal activities, violate any federal, state or local law or regulation, including those laws regarding “hate speech” or similar equivalents thereto. Org agrees that it will, on a continuous basis during the term of this TOU (but in no event less frequently than once every 24 months), update such information as necessary to ensure that it remains accurate and that it will continue to comply with the standards established by MM as part of the Movement Match Profile Update Program.
                    Org will remain solely responsible for the content of its website and for the e-mail correspondence it issues incorporating the Logo. Org will not include in its website or in any e-mails bearing the Logo  any information that in MM’s sole discretion, is unlawful, infringing, defamatory, or otherwise inappropriate. Org will not use the Logo in connection with anything other than org activities.</p>
                    <strong><li>Term</li></strong>
                    <p>Term and Termination. The TOU will take effect on the Effective Date and will continue for the period during which Org participates in the Movement Match Profile Update Program, unless terminated earlier in accordance with the terms of this TOU.
                    Removal of Org Information, Suspension, and Termination.
                    MM may immediately remove Org Information; as well as suspend or terminate Org’s participation in the Movement Match Profile Update Program (including its use of Third Party Services and licenses thereunder), if MM determines, in its sole discretion, or has reason to believe that (a) Org failed to deliver Org Information sufficient to meet its Org Profile Update Program standards; (b) the continued display of Org Information or the Org’s continued participation in the Movement Match Nonprofit Profile Update Program may subject Movement Match or any other third party to liability or harm; (c) Org is subject to a legal, regulatory or other investigation regarding any other aspect of Org’s operations; (d) Org is utilizing the Logo to commit acts of fraud and/or other criminal activity; (e) Org is placed on the “Specially Designated Nationals List” maintained by the Office of Foreign Assets Control (“OFAC”); (f) Org fails to update its information at least once during the twenty-four (24) months following its last update as required for participation in the Movement Match Nonprofit Profile Update Program; and (g) Org is accused of committing, or has received a conviction related to, acts of fraud and/or other criminal activity.
                    In addition to MM’s rights set forth above, if MM elects to terminate the Org’s participation in the Movement Match Profile Update Program (and all Third-Party Services and licenses provided thereunder), MM may remove the Org Information and/or the Logo (as it relates to org) from any or all of its Sites and the Org shall immediately remove from its website the Logo, and all references to Org’s participation in the Movement Match Profile Update Program.
                    Survival of Certain Terms. Upon any termination or expiration of this TOU, those provisions that, by their nature, are intended to be performed after the termination or expiration of the TOU including, without limitation, the ownership, representations and warranties, governing law, indemnification and confidentiality provisions, shall survive such termination or expiration. All other rights, obligations, and licenses set forth herein shall cease upon termination of this TOU.</p>
                    <strong><li>License to Use Org Information.</li></strong>
                    <p>As a condition of being eligible to participate in the Movement Match Profile Update Program, Org hereby grants to MM a non-exclusive, royalty free, worldwide, perpetual license to (a) use, reproduce, distribute, create derivative works of, perform and display the “Org Information in connection with the development, operation and maintenance of the Sites; and (b) to modify, sell, publish, transmit, reformat, excerpt, distribute and otherwise use the Org Information, including disclosing to third parties, in connection with the Sites and other products and services offered by MM (whether through the Sites or via other channels or media) to end users including, without limitation the Movement Match Profile. MM shall have the sole discretion to determine how to display, format and otherwise make the NPO Information available via its Sites and and services. Org agrees MM shall have the right to anonymize and aggregate Org Information to prepare reports, studies, and other work product resulting from such aggregate data. MM’s Privacy Policy shall govern to the extent MM collects or uses any personal information through its Sites.</p>
                    <strong><li>Limitation of Warranty and Liability</li></strong>
                    <p>MM does not warrant or guarantee the accuracy, quality, completeness, currency, or validity of any information on its Sites (including, without limitation, database accessible via its Sites and their content) or linked from its Sites. MM does not control the information it receives, although it may (in its sole discretion) note obvious errors that it believes may exist in the materials as received by it. MM does not warrant and expressly disclaims responsibility for such third party user generated content, including the accuracy or completeness of such content. Due to, among other things, the possibility of human and/or mechanical error, MM shall not be responsible for any errors or omissions on its Sites. MM makes no representations as to the accuracy or integrity of the information contained therein.
                    Third Party Services Warranties. Any warranties, if any, accompanying the Third Party Services are the responsibility of the third party service provider and are contained in such service provider’s terms and conditions provided to Org.
                    Warranty Disclaimer. ALL OF MM’S SITES ARE PROVIDED TO ORG ON AN "AS IS" AND "AS AVAILABLE" BASIS. MM DISCLAIMS ALL WARRANTIES, CONDITIONS, OR REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL, OR WRITTEN) WITH RESPECT THERETO AND WITH RESPECT TO ANY SUPPORT RELATED THERETO, INCLUDING ANY AND ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, NON-INTERFERENCE, ACCURACY OF DATA, AND WARRANTIES ARISING FROM A COURSE OF DEALING. ORG ACKNOWLEDGES THAT MM IS NOT AND WILL NOT BE LIABLE FOR ANY DAMAGES RESULTING FROM OR IN CONNECTION WITH THE USE OF ALL OF MM’S SITES.
                    Disclaimer of Consequential Damages. IN NO EVENT WILL MM BE LIABLE TO ORG OR ANYONE ELSE FOR ANY SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, INCLUDING WITHOUT LIMITATION LOST PROFITS, BUSINESS INTERRUPTION, OR LOSS OF INFORMATION, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, AND WHETHER OR NOT MM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                    Maximum Liability. IN NO EVENT SHALL MM'S AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THIS TOU EXCEED $1,000. THIS LIMITATION OF LIABILITY IS CUMULATIVE AND NOT PER INCIDENT.
                    Reasonable Allocation of Risk. Org understands and agrees that the limitations of liability set forth in this Section are a reasonable allocation of risk between Org and MM. Org agrees that absent such allocation, MM would not be able to offer the licenses hereunder. The limitations of liability provided in this TOU shall apply notwithstanding any failure of essential purpose of any limited remedy provided herein.
                    Indemnity. Org agrees to indemnify, defend (at MM’s request), and hold harmless MM, its affiliates, officers, directors, employees, consultants, and agents from any and all liability and expenses (including reasonable attorneys' fees) arising out of Org's unauthorized use of the Logo, Org’s website, Org's e-mail communications, or Org's violations of any applicable laws or regulations (including, without limitation, any violation of the CAN SPAM Act).</p>
                    <strong><li>General Provisions</li></strong>
                    <p>Governing Law and Jurisdiction. This TOU is and will be governed by and construed in accordance with the laws of the State of New York, without regard to its conflict of laws rules. Org and MM agree to submit to the exclusive jurisdiction of the courts of the State of New York to resolve any legal matter arising from this TOU or Org's relationship with MM.
                    Entire Agreement. This TOU constitutes the entire agreement and understanding of the parties relating to the subject matter hereof.
                    Severability. If any provision of this TOU is held to be invalid by a court of competent jurisdiction, then the remaining provisions will nevertheless remain in full force and effect.
                    No Waiver. The failure of either party to enforce at any time any of the provisions of this TOU will in no way be construed to be a present or future waiver of such provisions.
                    Amendment. This TOU may be amended by MM in accordance with the terms of Section 1.
                    Assignment and Binding Effect. Org agrees not to transfer or assign its rights or obligations under this TOU without the prior written consent of MM.
                    Notices. You can provide any notices to MM by e-mail at movementmatch@gmail.com. Unless you tell us otherwise, or the law requires otherwise, you agree to receive all communications from us by e-mail, sent to the email addresses MM has on file for Org Managers. You are responsible for providing MM with up-to-date contact information, which you may do by updating your account information through the MM Site or sending a message to us via the contact information listed in this Section. You agree that all communications that we send to you electronically satisfy any legal requirement that a communication be in writing.</p>
                  <%= f.submit "I Agree", class:"btn btn-warning text-white btn-lg btn-block"  %>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
  <br>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <%= link_to 'Back', root_path, class:"btn btn-outline-danger text-dark btn-lg btn-block" %>
  </div>
</div>
