<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>What is the name of your organization?</p>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>What is your website?</p>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <p>What is your mission statement?</p>
    <%= form.text_area :mission %>
  </div>

  <div class="field">
    <p>Link for becoming a member or volunteer</p>
    <%= form.text_field :memberlink %>
  </div>

  <div class="field">
    <p>Other information you want people to have:</p>
    <%= form.text_area :other %>
  </div>

  <div class="field">
    <p>Town or city, state, and zipcode</p>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <p>Issues</p>
    <%= form.text_area :issues %>
  </div>

  <div class="field">
    <p>Gender/Sexuality</p>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <p>Racial Identity</p>
    <%= form.text_field :race %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
