  <div class="card org-container" style="width: 30rem;">
    <h2 class="card-header"><%= link_to organization.name, organization %></h2>
    <div class="card-body">
      <p><a target="_blank" href="<%= organization.website %>"><%= organization.website %></a></p>
      <p><%= organization.mission %></p>
      <% if organization.memberlink != "" %>
      <p>Click here to become a member of this organization: <a target="_blank" href="<%= organization.memberlink %>"><%= organization.memberlink %></a></p>
      <% else %>
      <p>Visit website for membership information.</p>
      <% end %>
      <p><a target="_blank" href="https://www.google.com/maps/place/<%= organization.city %> AZ"><%= organization.city + " " + "AZ" %></a></p>
      <% if current_user_org == organization.user_org %>
      <%= link_to 'Edit', edit_organization_path(organization) %> |
      <%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
