  <div class="list-group-item list-group-item-action">
    <h2><%= link_to organization.name, organization %></h2>
    <div>
      <% if organization.summary != "" %>
      <p><%= organization.summary %></p>
      <% else %>
      <p><%= link_to "Click to learn more!", organization %></p>
      <% end %>
      <% if organization.city != "" %>
        <p>Location: <%= organization.city %></p>
      <% end %>
      <% if current_user_org == organization.user_org %>
      <%= link_to 'Edit', edit_organization_path(organization), class:"btn btn-warning text-white" %> |
      <%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-white" %>
      <% end %>
    </div>
  </div>
