<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Mission</th>
      <th>Memberlink</th>
      <th>City</th>
      <th>Issues</th>
      <th>Race</th>
      <th>Ability</th>
      <th>Age</th>
      <th>Religion</th>
      <th>Class Background</th>
      <th>Gender</th>
      <th>Occupation</th>
      <th>Immigration Status</th>
      <th>Incarceration Status</th>
      <th>Housing Status</th>
      <th>Commitment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><a href="<%= organization.website %>"><%= organization.website %></a></td>
        <td><%= organization.mission %></td>
        <td><a href="<%= organization.memberlink %>"><%= organization.memberlink %></a></td>
        <td><a target="_blank" href="https://www.google.com/maps/place/<%= organization.city %> AZ"><%= organization.city + " " + "AZ" %></a></td>
        <td><%= organization.issues %></td>
        <td><%= organization.race %></td>
        <td><%= organization.ability %></td>
        <td><%= organization.age %></td>
        <td><%= organization.religion %></td>
        <td><%= organization.class_background %></td>
        <td><%= organization.gender %></td>
        <td><%= organization.occupation %></td>
        <td><%= organization.immigration_status %></td>
        <td><%= organization.incarceration_status %></td>
        <td><%= organization.housing_status %></td>
        <td><%= organization.commitment %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Do you host an organization?', new_organization_path %>
<%= link_to 'Back', root_path %>
