<p id="notice"><%= notice %></p>

<h1 class="text-center">Organizations</h1>

<div class="row">
<% @organizations.each do |organization| %>
<div class="text-center org-container col-md-6 col-lg-3">
  <h2><%= link_to organization.name, organization%></h2>
  <p><a href="<%= organization.website %>"><%= organization.website %></a></p>
  <p><%= organization.mission %></p>
  <% if organization.memberlink != "" %>
  <p>Click here to become a member of this organization: <a target="_blank" href="<%= organization.memberlink %>"><%= organization.memberlink %></a></p>
  <% else %>
  <p>Visit website for membership information.</p>
  <% end %>
  <p><a target="_blank" href="https://www.google.com/maps/place/<%= organization.city %> AZ"><%= organization.city + " " + "AZ" %></a></p>
  <%= link_to 'Show', organization %>
  <%= link_to 'Edit', edit_organization_path(organization) %>
  <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
</div>

<br>

<%= link_to 'Do you host an organization?', new_organization_path %>
<br>
<%= link_to 'Back', root_path %>
