<div class="container-fluid col-sm-10 col-md-7" align="center">

  <h2><%= @organization.name %></h2>
  <p><a target="_blank" href="<%= @organization.website %>"><%= @organization.website %></a></p>
  <p><%= @organization.mission %></p>
  <% if @organization.memberlink != "" %>
  <p>Click here to become a member of this organization: <a target="_blank" href="<%= @organization.memberlink %>"><%= @organization.memberlink %></a></p>
  <% else %>
  <p>Visit website for membership information.</p>
  <% end %>
  <% if @organization.city == "" %>
    <p>Inquire about location.</p>
  <% else %>
    <p>Location: <%= @organization.city %></p>
  <% end %>

  <% if current_user_org == @organization.user_org %>
  <%= link_to 'Edit', edit_organization_path(@organization) %> |
  <%= link_to 'Delete', @organization, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', organizations_path %>
</div>
