<div class="container-fluid col-sm-10 col-md-7" align="center">

  <h1><%= @organization.name %></h1>
  <hr>
  <% if @organization.website.include? "http" %>
  <p><a target="_blank" class="btn btn-warning text-white btn-lg" href="<%= @organization.website %>"><%= @organization.website %></a></p>
  <% else %>
  <p><a target="_blank" class="btn btn-warning text-white btn-lg" href="http://<%= @organization.website %>"><%= @organization.website %></a></p>
  <% end %>
  <p><%= @organization.mission %></p>
  <% if @organization.memberlink != "" %>
  <p>Click here to become a member of this organization: <a target="_blank" href="<%= @organization.memberlink %>"><%= @organization.memberlink %></a></p>
  <% else %>
  <p>Visit website for membership information.</p>
  <% end %>
  <% if @organization.city == "" %>
  <p>Inquire about location.</p>
  <% else %>
  <p>Location: <%= @organization.city %></p>
  <% end %>

  <% if @organization.claimed == false %>
  <div class="container modalLink">
    <!-- Trigger the modal with a button -->
    <p class="modal-link btn btn-outline-warning text-dark btn-lg" data-toggle="modal", data-target="#myModal">Is this your organization? Claim it!</p>

    <!-- Modal -->
    <div class="modal hide fade" data-keyboard="false" data-backdrop="static" id="myModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content terms-modal">
          <div class="modal-header">
            <h4 class="col-12 modal-title">Terms of Agreement for Claiming Organizations</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body">
            <!-- This modal needs to have the terms of agreement in in -->
            <h4>Confirm and Publish</h4>
            <p>Review the terms and options below, and then click to publish. You're almost there!</p>

            <h4>Program Terms</h4>
            <ol>
              <li>I certify that the information is accurate and up to date</li>
              <li>I represent this organization and can make changes on its Movement Match profile</li>
              <li>I agree that this organization meets the Movement Match criteria:</li>
              <ol type="a">
                <li>A progressive organization committed to progressive values of ending oppression</li>
                <li>A membership based organization that is actively accepting new members and has ways for new members to plug in (beyond joining an email list)</li>
              </ol>
              <li>I accept the Terms of Use: <%= render "terms" %></li>
            </ol>
            <div align="center">
              <%= link_to 'Claim This Organization', '#', class:"btn btn-warning text-white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if current_user_org == @organization.user_org %>
  <div class="admin-tasks">
    <%= link_to 'Edit', edit_organization_path(@organization), class:"btn btn-warning text-white" %> |
    <%= link_to 'Delete', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-white" %> |
    <% end %>
    <%= link_to 'Back', organizations_path, class:"btn btn-outline-danger" %>
  </div>
</div>
