<% cache do %>
    <div class="conainer-fluid squares">
      <div class="images">
        <div class="item">
          <%= image_tag "IMG_0467.JPG", class:"top1" %>
          <%= image_tag "IMG_5678.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_5863.jpg", class:"top2" %>
          <%= image_tag "IMG_6686.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6452.jpg", class:"top3" %>
          <%= image_tag "IMG_6602.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_2105.JPG", class:"top4" %>
          <%= image_tag "IMG_0836.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_3923.JPG", class:"top5" %>
          <%= image_tag "IMG_0842.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6622.jpg", class:"top4" %>
          <%= image_tag "IMG_6586.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6602.jpg", class:"top5" %>
          <%= image_tag "IMG_6603.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6515.jpg", class:"top1" %>
          <%= image_tag "IMG_6519.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6609.jpg", class:"top2" %>
          <%= image_tag "IMG_6608.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6603.jpg", class:"top3" %>
          <%= image_tag "IMG_6528.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_0493.JPG", class:"top3" %>
          <%= image_tag "IMG_6607.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6604.jpg", class:"top2" %>
          <%= image_tag "IMG_5451.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_0482.JPG", class:"top1" %>
          <%= image_tag "IMG_2154.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_0466.JPG", class:"top5" %>
          <%= image_tag "IMG_6529.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6605.jpg", class:"top4" %>
          <%= image_tag "IMG_0767.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_5679.jpg", class:"top2" %>
          <%= image_tag "IMG_5702.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_6604.jpg", class:"top4" %>
          <%= image_tag "IMG_5837.jpg", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_0453.JPG", class:"top1" %>
          <%= image_tag "IMG_2158.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "IMG_5870.jpg", class:"top3" %>
          <%= image_tag "IMG_2844.JPG", class:"bottom" %>
        </div>
        <div class="item">
          <%= image_tag "ppetmpdup.jpg", class:"top5" %>
          <%= image_tag "IMG_2848.JPG", class:"bottom" %>
        </div>
        <div class="item" id="hide-photo">
          <%= image_tag "IMG_5863.jpg", class:"top2" %>
          <%= image_tag "IMG_6686.jpg", class:"bottom" %>
        </div>
      </div>
    </div>
<% end %>
